
.vs/Food Storage Inventory/v16/TestStore/0/000.testlog
obj/Release/Food Storage Inventory.csproj.CoreCompileInputs.cache
*.testlog
*.testlog
*.lref
*.lref
*.baml
*.cache
*.cache
*.cache
.vs/Food Storage Inventory/v16/.suo
*.testlog
.vs/Food Storage Inventory/v16/.suo
*.testlog
/credentials.json
/bin/Debug/credentials.json
/bin/Debug/log4net.config
/bin/Release/credentials.json
/obj/Release/Costura
/packages/Google.Apis.1.51.0
/packages/Google.Apis.Auth.1.51.0/lib/net45
/packages/Google.Apis.Auth.1.51.0
/packages/Google.Apis.Core.1.51.0
/packages/Google.Apis.Drive.v3.1.51.0.2265
/log4net.config
/obj/Debug/Costura
/bin/Release/ControlzEx.xml
/bin/Release/myapp.log
/bin/Release/MahApps.Metro.xml
/bin/Release/MahApps.Metro.IconPacks.Zondicons.xml
/bin/Release/MahApps.Metro.IconPacks.xml
/bin/Release/MahApps.Metro.IconPacks.WeatherIcons.xml
/bin/Release/MahApps.Metro.IconPacks.VaadinIcons.xml
/bin/Release/MahApps.Metro.IconPacks.Unicons.xml
/bin/Release/MahApps.Metro.IconPacks.Typicons.xml
/bin/Release/MahApps.Metro.IconPacks.SimpleIcons.xml
/bin/Release/MahApps.Metro.IconPacks.RPGAwesome.xml
/bin/Release/MahApps.Metro.IconPacks.RemixIcon.xml
/bin/Release/MahApps.Metro.IconPacks.RadixIcons.xml
/bin/Release/MahApps.Metro.IconPacks.PixelartIcons.xml
/bin/Release/MahApps.Metro.IconPacks.PicolIcons.xml
/bin/Release/MahApps.Metro.IconPacks.Octicons.xml
/bin/Release/MahApps.Metro.IconPacks.Modern.xml
/bin/Release/MahApps.Metro.IconPacks.Microns.xml
/bin/Release/MahApps.Metro.IconPacks.MaterialLight.xml
/bin/Release/MahApps.Metro.IconPacks.MaterialDesign.xml
/bin/Release/MahApps.Metro.IconPacks.Material.xml
/bin/Release/MahApps.Metro.IconPacks.JamIcons.xml
/bin/Release/MahApps.Metro.IconPacks.Ionicons.xml
/bin/Release/MahApps.Metro.IconPacks.ForkAwesome.xml
/bin/Release/MahApps.Metro.IconPacks.FontAwesome.xml
/bin/Release/MahApps.Metro.IconPacks.Fontaudio.xml
/bin/Release/MahApps.Metro.IconPacks.FileIcons.xml
/bin/Release/MahApps.Metro.IconPacks.FeatherIcons.xml
/bin/Release/MahApps.Metro.IconPacks.EvaIcons.xml
/bin/Release/MahApps.Metro.IconPacks.Entypo.xml
/bin/Release/MahApps.Metro.IconPacks.Core.xml
/bin/Release/MahApps.Metro.IconPacks.Codicons.xml
/bin/Release/MahApps.Metro.IconPacks.BoxIcons.xml
/bin/Release/MahApps.Metro.IconPacks.BootstrapIcons.xml
/bin/Release/log4net.config
/bin/Release/Google.Apis.xml
/bin/Release/Google.Apis.Drive.v3.xml
/bin/Release/Google.Apis.Core.xml
/bin/Release/Google.Apis.Auth.xml
/bin/Debug/Google.Apis.Auth.xml
/bin/Debug/Google.Apis.Core.xml
/bin/Debug/Google.Apis.Drive.v3.xml
/bin/Debug/Google.Apis.xml
