
.vs/Food Storage Inventory/v16/TestStore/0/000.testlog
obj/Release/Food Storage Inventory.csproj.CoreCompileInputs.cache
*.testlog
*.testlog
*.lref
*.lref
*.baml
*.cache
*.cache
*.cache
.vs/Food Storage Inventory/v16/.suo
*.testlog
.vs/Food Storage Inventory/v16/.suo
*.testlog
